	body{
		
		margin-left : 20%;
		margin-right : 20%;
		padding: 10px 10px 10px 10px;
		border-left: 2px solid gray;
		border-right: 2px solid gray;

	}
	body, h2 ,h3 {
		font-family: san-serif;
		color: #8F26B1;
	}
	h1{
		border-bottom: 2px solid black;
		font-family: san-serif;
		color: gray;
	}