	body{
		
		margin-left : 20%;
		margin-right : 20%;
		padding: 30px;
		/*border-left: 1px solid gray;
		border-right: 1px solid gray;*/
		background-color: black; 
		/*background-color: #D6E1FF;*/
		font-family: Verdana,sans-serif;
		color: #8F26B1;
		font-size: small;
		text-align: center;
		line-height: 150%;
		background: black url(starry_1366.jpg) fixed no-repeat center;
		font-weight: bold;
	}
	h1{ font-size: 250%;
		font-weight: bold;
		margin-bottom: 5em;
		/*text-align: center;*/
		/*border-bottom: 1px solid gray;*/
		color: gray;
		/*font-weight: bold;*/
		font-family: 'Handlee',"Comic Sans MS",sans-serif;
		text-decoration: underline overline;
		
	}
	h2{ font-size: 150%;
		margin-top: 5em;
		margin-bottom: 5em;
		color: #DC1B44;
	}
	ol,ul{
		border: 1px solid gray;
		font-weight: bold;
		text-align: left;
		background-color: black;
		border: thin dashed black ;

		/*border-radius: 2em;*/
		margin-right: 100px;
		margin-left: 100px;

	}
	code {
		color: black;
		border: 1px solid gray;
		background-color: white;
	}
	p {
		
		background-color: black;
	}
	.goal{
		background-image: url(xstar.png) no-repeat ;
		background-position: left;
		border: thin white dashed;
		padding: 50px;

		margin-top: 50px;
		/*float: left; 		padding-left: 110px;*/

	}