	body{
		margin-left : 20%;
		margin-right : 20%;
		padding: 30px;
		/*border-left: 1px solid gray;
		border-right: 1px solid gray;*/
		background-color: rgba(0, 0, 0, 0.5); 
		/*background-color: #D6E1FF;*/
		font: bold small/150% Verdana,sans-serif;
		color: #8F26B1;
		text-align: center;
		background: black url(starry_1366.jpg) fixed no-repeat center;
		line-height: 1,5em;
	}
	h1{ 
		margin-bottom: 5em;
		color: gray;
		font: 250% bold 'Handlee',"Comic Sans MS",sans-serif;
		text-decoration: underline overline;
		
	}
	h2{ 
		font-size: 150%;
		margin-top: 5em;
		margin-bottom: 5em;
		color: #DC1B44;
	}
	ol,ul{
		border: 1px solid gray;
		font-weight: bold;
		text-align: left;
		background-color: rgba(0, 0, 0, 0.8);
		border: thin dashed blue ;
		margin-right: 100px;
		margin-left: 100px;

	}
	code {
		color: black;
		border: 1px solid gray;
		background-color: white;
	}
	p {
		
		background-color: rgba(0, 0, 0, 0.8);
	}
	.goal{
		background-image: url(xstar.png) no-repeat ;
		background-position: left;
		border: thin white dashed;
		padding: 50px;

		margin-top: 50px;
		/*float: left; 		padding-left: 110px;*/

	}

	@media  screen and (max-width: 480x) {
		ol,ul{
			margin-right: 25px;
			margin-left: 25px;
		}
	}
	div#menu{
		background-color : rgba(0, 0, 0, 0.7);
		border: thin dashed purple;
		float: left;
		position: fixed;
		padding: 10px;
		margin-left: -250px;
		width: 150px;
	}
	a:link {
		color: blue;
	}
	a:visited{
		color: #8F26B1;
	}
	a:hover{
		background: white;
		color: red;
	}
	#back{
		background: black;
	}
	#footer{
		background: black;
		color: blue;
		text-align: center;
		font-size: 90%;
		font-style: italic;
		font-weight: small
		margin-bottom: 0px;
		padding-bottom:  0px;
	}